################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/obj
/HtmlTools/obj
/HtmlTools/bin
/Demo/bin
